*.spec
*.bat
/Проекты
/dist
/dist_bso
/ico
*/.venv
/.vscode
/__pycache__
/arch
/build
/build_bso
Pipfile

/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
*/.idea

